{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container w-75 mx-auto p-5 mt-5 text-center fs-5 border border-3 border-danger rounded-4">
<h3>Book Details</h3>
    <table class="table table-bordered border-danger">
           <tr>
               <th>Title</th>
               <td>{{book.title}}</td>
           </tr>
         <tr>
               <th>Author</th>
               <td>{{book.author}}</td>
           </tr>
        <tr>
               <th>Price</th>
               <td>{{book.price}}</td>
           </tr>
        <tr>
               <th>Pages</th>
               <td>{{book.pages}}</td>
           </tr>
         <tr>
               <th>Language</th>
               <td>{{book.language}}</td>
           </tr>
         <tr>
               <th>Cover</th>
               <td><img src="{{ book.image.url }}" height="150px" width="150px"></td>
           </tr>



</table>
    </div>
{% endblock %}
